@charset "UTF-8";

body {
    background-color: darkgreen;
}
h1 {
    text-align: center;
    background-color: rgb(8, 247, 0);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.objetos {
    display: flex;
    justify-content: space-around;
}
.pedra,
.papel,
.tesoura {
    background-color: darkgrey;
    border-radius: 50%;
    max-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.resultado {
    margin-top: 50px;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}
.ganhou-perdeu > p {
    color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    font-size: 3em;
}