@charset "UTF-8";

body {
    background-color: darkgreen;
}
h1 {
    text-align: center;
}
.objetos {
    display: flex;
    justify-content: space-around;
}
.pedra,
.papel,
.tesoura {
    background-color: darkgrey;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.resultado {
    height: 50vh;
    display: flex;
    justify-content: center;
}